<div
  fxLayout="col"
  class="infoSectionStyles"
  fxLayoutAlign.lt-md="center center"
  fxLayout.lt-md="column"
>
  <div class="leftSection" fxFlex="40%">
    <p class="textStyles">
      Art of Code is a quiz service which tests your JavaScript Knowledge!
    </p>

    <p class="textStyles">
      Test your JavaScript knowledge with over
      <span style="font-weight: bold">100</span> questions tailored for you!
    </p>
    <div fxLayoutAlign="center center" class="fullWidth">
      <button mat-raised-button routerLink="quiz" class="buttonStyles">
        Start
      </button>
    </div>
  </div>

  <div fxFlex="60%" fxLayout="row" fxLayoutAlign="center">
    <mat-card class="matCardStyles" fxLayoutAlign="center center">
      <img src="assets/CodeImage.png" class="imageStyles" />
    </mat-card>
  </div>
</div>
