.infoSectionStyles {
  font-size: 20px;
  letter-spacing: 1.2px;
  line-height: 140%;
  display: flex;
}
.textSection {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}
.textSection .textStyles {
  margin-bottom: 35px;
}

.buttonStyles {
  background-color: #212121;
  width: 100%;
}
.imageStyles {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

@media (min-width: 1200px) {
  .infoSectionStyles {
    font-size: 32px;
    letter-spacing: 1.2px;
  }
}
