.mainButtonBackGround {
  background-color: #212121;
  border: none;
  color: white;
}

.toolBarStyles {
  margin-bottom: 7vw;
  height: 10vw;
}

.marginCenter {
  margin: auto;
}

.ImageStyles {
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}
