.mainButtonBackGround {
  background-color: #212121;
  border: none;
  color: white;
}

.toolBarStyles {
  margin-bottom: 50px;
  height: 10vw;
}

.marginCenter {
  margin: auto;
}

.ImageStyles {
  height: 90%;
  object-fit: contain;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .toolBarStyles {
    height: 12vw;
  }
}

@media (max-width: 900px) {
  .toolBarStyles {
    height: 15vw;
  }
}

@media (max-width: 600px) {
  .toolBarStyles {
    height: 25vw;
  }
}
