.quizQuestionStyles {
  margin-top: 20px !important;
  margin-bottom: 5vw;
  font-size: 32px;
}
.quizQuestionsOptionsButton {
  background-color: #212121;
  color: white;
  width: 40vw;
}

.quizMargin {
  margin-left: 20px;
  margin-top: 1.5vw;
}
@media (min-width: 600px) {
  .quizMargin {
    margin-top: 30px;
  }
  .quizQuestionsOptionsButton {
    width: 20vw;
    margin-bottom: 20px;
  }
}

.quizSelectedAnswer {
  color: red;
}
