<mat-card class="matCardStyles">
  <p
    class="quizQuestionStyles"
    fxLayout="row"
    fxLayoutAlign="center center"
    lang="en"
    aria-label="Current Quiz Question"
  >
    {{ currentQuiz.question }} ?
  </p>
  <div
    fxLayout="row"
    fxLayoutAlign="space-evenly center"
    class="parent"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="space-evenly center"
  >
    <div *ngFor="let option of currentQuiz!.options" class="quizMargin">
      <button
        mat-button
        class="quizQuestionsOptions"
        [ngClass]="highlightedAnswer(option)"
        (click)="sendChoosenAnswer(option)"
        lang="en"
        aria-label="Choose this option Button"
      >
        {{ option }}
      </button>
    </div>
  </div>
</mat-card>
