.quizCardStyles {
  background-color: white;
  color: #212121;
  width: 50%;
}

.quizButton {
  width: 100%;
  background-color: white;
  margin-bottom: 1vw;

  &:hover {
    background-color: rgb(241 245 249);
  }
}

.quizSubmitButton {
  background-color: #212121;
  width: 50%;
  margin-top: 45px;
  color: white;
}

.appQuizCardMargin {
  margin-top: 30px;
}
.appQuizCardText {
  margin: auto;
  font-size: 24px;
  letter-spacing: 1.3px;
  line-height: 1.4em;
  display: flex;
}
