<div
  fxLayout="row"
  fxLayoutAlign="center center"
  class="appQuizCardText"
  lang="en"
>
  This will take you thru a series of 10 Handpicked JS questions.
</div>
<div fxLayout="column" class="appQuizCardMargin" @appear>
  <app-quiz-card
    (chosenAnswer)="selectAnswer($event)"
    [currentQuiz]="quiz$ | async"
    fxLayout="row"
    fxLayoutAlign="center center"
    [currentResponse]="currentResponse"
  ></app-quiz-card>

  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-button
      class="quizSubmitButton"
      (click)="sendAnswer()"
      lang="en"
      aria-label="Submit Your Answer Button"
    >
      Submit
    </button>
  </div>
</div>
