<div class="quizOptionsMarginBottom">
  <mat-card *ngFor="let quiz of ActualQuizes" class="quizCardStyles marginAuto">
    <div fxLayoutAlign="center">
      <h1>{{ quiz.question }}</h1>
    </div>

    <div class="quizOptionsMarginTop">
      <div fxFlex="33%">
        <button
          mat-button
          [id]="quiz.id"
          class="quizButton"
          (click)="onCheckAnswer(quiz.id, quiz.options[0])"
        >
          {{ quiz.options[0] }}
        </button>
      </div>
      <div fxFlex="33%">
        <button
          mat-button
          class="quizButton"
          [id]="quiz.id"
          (click)="onCheckAnswer(quiz.id, quiz.options[1])"
        >
          {{ quiz.options[1] }}
        </button>
      </div>
      <div fxFlex="33%">
        <button
          mat-button
          class="quizButton"
          [id]="quiz.id"
          (click)="onCheckAnswer(quiz.id, quiz.options[2])"
        >
          {{ quiz.options[2] }}
        </button>
      </div>
    </div>
  </mat-card>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-button routerLink="results" class="quizSubmitButton">
      Submit
    </button>
  </div>
</div>
